In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Resources/cities.csv")
df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Iqaluit,63.75,-68.51,10.40,66,40,17.22,CA,1607900752
1,1,Clyde River,70.47,-68.59,-2.20,70,90,6.93,CA,1607900759
2,2,S達o Jo達o da Barra,-21.64,-41.05,75.97,83,97,20.51,BR,1607900759
3,3,Anadyr,64.75,177.48,23.00,79,75,13.42,RU,1607900759
4,4,Upernavik,72.79,-56.15,24.51,98,100,1.54,GL,1607900752

In [4]:
df.to_html('data.html')